#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:100vh
  }

#contact{
    display: flex;
    flex-direction: column;
    place-self: center;
    align-self: center;
}
a {
    text-decoration: none;
  }
#icons{
    display: flex;
    justify-content: center;
}
#contact img{
    width: 25px;
    height:auto;
}
#description{
    align-self: center;
}
#description p{
    text-align: justify;
}