#collection {
    display: inline-flex;
    justify-content: space-evenly;
}

#collection div {
    width: 50%; /* Split the container into two equal parts */
}
#cool{
    text-align: center;
}
#icons{
    display: inline;
}
#icons img{
    width: 30px;
}