#project{
    
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #44423e;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px
}
a {
    text-decoration: none;
  }
#project img{
    width: 200px;
    height: auto;
}
#project p{
    text-align: justify;
    color: black;
}
#project h1{
    color: black;
}
#projectlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}