#cover {
    width: 100%;
    display: flex;
}

.data {
    width: 20%;
    height: 100vh;
    background-color: rgb(71, 66, 66);
}

.content{
    width: 80%;
    height: 100vh;
    background-color: rgb(32, 32, 31);
}

.me {
    /* background-color: blue; */
    width: 100%;
}

.me img {
    width: 70%;
    margin-left: 15%;
    padding:0;
    border-radius: 50%;
}

.me h3, .me h4 {
    text-align: center;
    color: white;
}
body {
    margin: 0;
}

.data ul{

    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.data li{
    width: 80%;
    border: solid 2px grey;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration:none;
}
.data a{
    text-decoration: none;
}

.data li:hover{
    background-color: rgba(127,127,127,0.8);
}

body{
    height: 100;
}

.content h1, .content h2{
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    img {
        width: 0;
        height: 0;
    }

    #cover {
        display: block;
    }

    .data{
        background-color: gray;
        width: 100%;
        height: min-content;
        margin: 0;
        padding:10px 0; 
        
    }
    .data li{
        width: min-content;
        display: inline;
    }

    .me h4, .me h3 {
        font-size: 0px;
    }
    .content{
        width: 100%;
        margin-top: 0;
    }
    .content h1, .content h2, .content p{
        margin: 0 10px;
    }
}


.content p{
    color: white;
    padding-left: 10px;
}

